body, html {height: 100%; }

body {
    font-family: helvetica;
    color: black;
}

.container {
    height: 100%;
    width: 100%;
}

/* Styling for projects section */
#projects {
    color: black;
}

#name {
    font-family: 'Special Elite', cursive;
    
}

#borrow, #midpoint, #kin, #d3 {
    height: 450px;
    background-color: white;
}

/* Styling for home section */
#home {
     width: 100%;
     height: 100%;
    background-color: white;
   
}

#home_content h1 {
    /*font-family: 'Special Elite', cursive;*/
   line-height: 90%;
    font-size: 600%;
    padding-bottom: 30px;
}

#home_content h3 {
    font-family: 'Special Elite', cursive;
}

#eyes {
    width: 70%;

}




#about_content {
    
    font-family: helvetica;
    
    /*text-shadow: 3px 3px 0 black;*/
    font-size: 700%;
    /*padding-bottom: 30px;*/
     
    
}

#about_content div{
        display: inline-block;
        position: relative;
        height: 90%;
}

#plunk-hello {
    height: 60%;
    position: absolute;
    margin-top: 180px;
    margin-left: 30px;
}

#photo {
    /*display: inline;*/


}

#bio {
  /*  width: 10px;*/
    margin-right: 222px;
    position: absolute;
    height: 40%;
    width:35%;
    float right;
    display: inline;
    
    font-size: 18%;
    font-family: helvetica;
    float: right;
   
}

#bio p{
    margin-top: 280px;
    font-family: American Typewriter;
    line-height: 180%;
}
#bio ul{
line-height: 180%;

}

/*ABOUT-BIO*/

#about {
    width: 100%;
    height: 100%;
    background-color: white;
   
}




/* Styling for projects section */
#projects {
    height: 100%;
    background-color: white;
}

#my_carousel {
    margin: 0 auto;
    width: 80%;
    /*border: 5px solid black;*/
    color: black;
}

.project_desc {
    padding: 20px 20px 20px 80px;
    width: 50%;
    font-family: helvetica;
}

.project_desc p {
    line-height: 160%;
    font-size: 120%;
}

.project_desc i {
    display: inline-block;
    height: 100px;
    width: 100%;
    text-align: center;
    color: black;
}

.project_desc a {
    color: black;
}

.project_img img {
    width: 90%;
    border: 3px solid white;
}

.midpoint img {
    height: 50%;
}

.git {
    width: 10%;
}

/* Styling for contact section */
#contact {
    height: 100%;
    background-color: white;

}

#info {
    color: black;
    background-color: white;
    margin: 0 auto;
  /*  border: 10px solid black;
    border-radius:25px;;*/
    height: 50%;
    width: 35%;
    
}

#info a {
    color: black;
}

/*poetry section*/
#poetry {
    height: 100%;
    background-color: white;
}

#my_carousel_2 {
    margin: 0 auto;
    width: 80%;
    /*border: 5px solid black;*/
    color: black;
}

#my_poetry, #kiss_punch, #almanac {
    height: 450px;
    background-color: white;
    font-family: American Typewriter;
}

#almanac img{
    height: 430px;
    width: 300px;
}

#kiss_punch img{
    height: 520px;
    width: 400px;
}

/*SKILLS SECTION*/

#skills {
     height: 100%;
    background-color: white;
}

#skills_content div{
        display: inline-block;
        position: relative;
        height: 90%;
}

#skills_content {
    
    font-family: helvetica;
    
    /*text-shadow: 3px 3px 0 black;*/
    font-size: 400%;
    /*padding-bottom: 30px;*/   
    
}

#skill-list {
    font-size: 20px;
    
    margin-top: 100px;
    width: 350px;
    margin-left: 40px;
    text-align: center;
}

#skill-list h1 {
    font-size: 80px;
    line-height: 80%;
}

#skill-list2 {
    font-size: 20px;
   
    margin-top: 60px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

#skill-list3 {
    font-size: 20px;
    
    margin-top: 60px;
    width: 400px;
    margin-left: 20px;
    text-align: center;
}

#head-skill{
    width: 100px;
}

 
.icon {
    width: 6%;
    margin-left: 5px;
}

.fa_ul {
    text-align: center;
    list-style-type: non;
}

.fa_ul li {
    display: inline-block;
}

.fa_ul .first {
    margin-right: 80px;
}

.first{
    -vendor-animation-delay: 6s;
}

#contact-title {
    margin-top: 160px;
}

.contact_group {
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    float: left;
    width: 45%;
    height: 90%;
}

/* styling for navbar */
.navbar {
    /*width: 100%;
    margin: 30px auto 0 auto;
    text-align: center;*/
}

.nav {
    background-color: white;
    padding: 20px;
    width: 100%;
    

    /*-webkit-box-shadow: 1px 1px 0 0 #bdc3c7;
    box-shadow: 1px 1px 0 0 #bdc3c7;;*/
}

.nav ul {
    width: 100%; /* from above */
    list-style: none;
    margin: 0;
    padding: 20px;
}

    
.nav ul li {
    width: 20%;
    float: left;

}

.nav li {
    padding: 0em 5.5em 0em 0em;
}

#custom_nav a {
    font-size: 160%;
    text-decoration: none;
    color: black;
    font-family: 'Special Elite', cursive;
   
}

#custom_nav a:hover {
    font-size: 190%;
    color: grey;
}

/* Universal */
.title {
    font-family: 'Special Elite', cursive;
    padding-bottom: 10px;
}

.title h1 {
    font-size: 250%;
}

/* positioning styling */

.center_fix {
    margin: 0 auto;
    padding-right: 20px;
    text-align: center;
    width: 70%;
}

.title_holder {
    height: 15%;
}

.one_fifth_holder {
    height: 25%;
}

#technologies {
    padding-top: 20px;
}

#technologies h2 {
    border-bottom: 1px solid white;
}

.tech_ul {
    width: 20%;
    text-align: left;
    float: left;
}


.delay1{
  -webkit-animation-delay: .1s;
}

.delay2{
  -webkit-animation-delay: .2s;
}

.delay3{
  -webkit-animation-delay: .3s;
}

.delay4{
  -webkit-animation-delay: .4s;
}

.delay5{
  -webkit-animation-delay: .5s;
}

.delay6{
  -webkit-animation-delay: 1s;
}