/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*body {
  height: 100%;
}*/



body, html {
  height: 100%;
  background-color: grey;
}
#home {
  background-color: rgba(242, 234, 214, 1);
  text-align: center;
  height: 100%;
}

#about {
  background-color: grey;
  
  height: 100%;
}

#portfolio {
  background-color: white;
  
  height: 100%;
}

#poetry {
  background-color: white;
 
  height: 100%;
}

#theater{
  background-color: white;
  
  height: 100%;
}


#contact {
  background-color: rgba(36, 143, 171, 1);
  text-align: center;
  height: 100%;
}

.about-blob{
  width: 50%;
  height: 40%;
  padding: 4em;
  margin: 5em auto;
  margin-right: 10px;
  float: right;
  border: 2px solid black;
  border-radius: 5em;
  background-color: white;
}

header {
  padding-top: 100px;
}

#poems {
  padding: 20px;
  text-align: center;
}

#footer {
  padding-top: 1.3em;
  bottom: 0;
  clear: both;
  background-color: white;
  height: 18%;
  color: white;
}

/*******************************************************************
TEXT
*******************************************************************/
h1 {
  font: 6em 'Lobster', cursive;
  color: black;
}
h2 {
  text-align: center;
  font: 5em 'Karla', "Helvetica", sans-serif;
  clear: both;
}

h3 {
  text-align: center;
  clear: both;
}

p {
  font-size: 1.3em;
  margin-bottom: 2em;
  font: 20px 'Karla', "Helvetica", sans-serif;
  color: black;
  line-height: 1.3em;
}

.sub-head {
  /*margin-top: 100px;*/
  padding-top: 100px;
}

#contact-me {
  padding: 30px;
}

a {
  text-decoration: none;
  color: black
}

a:hover {
  color: rgba(107,205,191,1);
}



nav {
  background-color: transparent;
  z-index: 100;
  position: fixed;
  width: 100%;
  height: 100px;
  text-align: center;
  overflow: hidden;
}

nav li {
  font-family: "Karla";
  font-weight: bold;
  font-size: 19px;
  color: rgba(242, 234, 214, 1);
  list-style: none;
  display: inline-block;
  padding: 20px;
  width: 4em;
  border-radius: 100%;
  background-color: black;
  margin: 25px;
}

ul li:hover {
  background: grey;
  cursor: pointer;
  -webkit-transform: scale(1.2);
  transition: all 0.5s ease;
}

a li {
  color: rgba(244,238,229,1);
  font-weight:normal;

}



.apps {
  border: 2px solid red;
}

.apps div {
  display: inline;
}






#photo {
  height: 400px;
  margin: 50px;
  margin-top: 50px;
  
}


.tag-line {
  font: 3em 'Karla', "Helvetica", sans-serif;
}

img {

  margin: 0 auto;
}

#logo {
padding-top: -100px;
 
}

#kpp {
  height: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#eyes {
 height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;

}